@import "tailwindcss";

@layer base {
  :root {
    --text: 4 24 24;
    --background: 247 254 254;
    --primary: 40 223 216;
    --secondary: 131 138 236;
    --accent: 119 93 231;
  }
  .dark {
    --text: 233 251 251;
    --background: 1 9 9;
    --primary: 32 213 207;
    --secondary: 19 26 124;
    --accent: 49 24 160;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}


/* Aggiungi una utility personalizzata */
.fade-in {
  animation: fade-in 0.3s ease-out;
}
.fade-out {
  animation: fade-out 0.3s ease-out;
}

/* DATEPICKER */
@layer utilities {
  .custom-datepicker {
    @apply rounded-md!
  }

  /* HEADER */
  .react-datepicker__header {
    @apply bg-emerald-700! border-0! rounded-md!
  }

  .react-datepicker__current-month{
    @apply pb-2! text-white!
  }

  .react-datepicker__day-names{
    @apply bg-white!
  }

  .react-datepicker__day--selected{
    @apply bg-emerald-700! rounded-full!
  }
}




  


